.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 260px 260px 0 0;

  h1 {
    font-size: xx-large;
    font-weight: 700;
  }
  &__combat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    &__first {
      display: flex;
      align-items: center;
      gap: 8px;
      background: white;
      color: black;
      border: transparent;
      border-radius: 5px;
      img {
        width: 90px;
        height: auto;
        object-fit: cover;
        border-radius: 5px 0 0 5px;
      }
    }
    &__second {
      display: flex;
      align-items: center;
      gap: 8px;
      background: white;
      color: black;
      border: transparent;
      border-radius: 5px;
      img {
        width: 90px;
        height: auto;
        object-fit: cover;
        border-radius: 5px 0 0 5px;
      }
    }
  }
  &__actions {
    display: flex;
    gap: 8px;
    .fight {
      background-color: #f44336;
      color: white;
      font-size: large;
      padding: 5px 30px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #c62828;
        transform: scale(1.05);
      }
    }
    .removeSelected {
      background-color: #4caf50;
      color: white;
      font-size: large;
      padding: 5px 30px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #388e3c;
        transform: scale(1.05);
      }
    }
  }
}
