.combat-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &__content {
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;

    &__header {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      right: 0;
    }

    .close-button {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }

    .close-button:hover {
      color: red;
    }

    @media (max-width: 540px) {
      flex-direction: column;
    }
  }
  .vs-image {
    height: 250px;
    @media (max-width: 930px) {
      height: 150px;
    }
    @media (max-width: 540px) {
      height: 120px;
    }
  }
  .winner {
    @media (max-width: 540px) {
      font-size: 18px;
    }
    @media (max-width: 930px) {
      font-size: 20px;
    }
  }
  &__winner {
    font-size: x-large;
    font-weight: 600;
    text-decoration: underline;
    color: green;
  }

  &__content__first,
  &__content__second {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    max-width: 310px;
    img {
      border-radius: 10px;
      object-fit: cover;
      @media (max-width: 540px) {
        width: 120px;
      }
    }
    h1 {
      height: 50px;
      @media (max-width: 540px) {
        height: auto;
      }
    }
    .powerstats {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: baseline;
      .name {
        font-size: x-large;
        font-weight: 600;
        text-decoration: underline;
        color: #d12020;
        @media (max-width: 540px) {
          font-size: large;
        }
      }
      .containerStats {
        display: flex;
        align-items: center;
      }
    }
  }
  .border-winner {
    border: 3px solid green;
    border-radius: 13px;
  }

  .border-loser {
    border: 3px solid red;
    border-radius: 13px;
  }
}
